# ============================
# POSTGRES / RDS
# ============================
POSTGRES_HOST=your_rds_host.c7w8ke8yys8w.ap-south-1.rds.amazonaws.com
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_PASSWORD=SupaBase_Auth_2026

# PostgREST full connection string (uses authenticator role)
PGRST_DB_URI=postgres://authenticator:SupaBase_Auth_2026@your_rds_host.c7w8ke8yys8w.ap-south-1.rds.amazonaws.com:5432/postgres?sslmode=require
PGRST_DB_SCHEMAS=public,extensions

# GoTrue DB connection string (uses supabase_auth_admin role)
GOTRUE_DB_DATABASE_URL=postgres://supabase_auth_admin:SupaBase_Auth_2026@supabase-postgresql-myflopynas.c7w8ke8yys8w.ap-south-1.rds.amazonaws.com:5432/postgres?sslmode=require

# Meta connects as supabase_admin
PG_META_DB_HOST=your_rds_host.c7w8ke8yys8w.ap-south-1.rds.amazonaws.com
PG_META_DB_USER=supabase_admin
PG_META_DB_PASSWORD=SupaBase_Auth_2026

#GoTrue Site URL
GOTRUE_SITE_URL=https://console.myflopy.com

#GoTrue JWT secret same as the normal one 
GOTRUE_JWT_SECRET=xqtBhVb1KpkyrNnju8sWZs1g9zj29eAt44TrtOzX


# ============================
# JWT (generate these — see below)
# ============================
JWT_SECRET=xqtBhVb1KpkyrNnju8sWZs1g9zj29eAt44TrtOzX
ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzcyMjE3MDAwLCJleHAiOjE5Mjk5ODM0MDB9.BQZPoEpQ-N4m-KitOXkcdQizuEDRhrfEffpYm2ZCRn4
SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NzIyMTcwMDAsImV4cCI6MTkyOTk4MzQwMH0.Mumn0ienSF3hQEuDiqb8sjSzmh3G6YwvZuEGBYTfAig

# ============================
# SITE / API URLs
# ============================
SITE_URL=https://console.myflopy.com
API_EXTERNAL_URL=https://auth.myflopy.com
ADDITIONAL_REDIRECT_URLS=

# ============================
# GOOGLE OAUTH
# ============================
GOOGLE_ENABLED=false
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# ============================
# FACEBOOK OAUTH
# ============================
FACEBOOK_ENABLED=false
FACEBOOK_CLIENT_ID=your-facebook-app-id
FACEBOOK_CLIENT_SECRET=your-facebook-app-secret

# ============================
# SMTP via Resend
# ============================
SMTP_HOST=smtp.resend.com
SMTP_PORT=465
SMTP_USER=resend
SMTP_PASS=re_your-resend-api-key
SMTP_ADMIN_EMAIL=no-reply@yourapp.com
SMTP_SENDER_NAME=YourApp
